.modal-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-title {
    padding: 6px 12px; 
    background:white; 
    border: 1px solid #494949;
    cursor:pointer;
    border-radius: 6px; 
    margin-right: 10px;
}
.btn-submit {
    border: none;
    background-color: none;
}
.input-and-btn-container {
    display: flex;
    flex-direction: row;
}
.report-container {
    margin-top: 1rem;
    color: darkolivegreen;
}