.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    font-family: 'Rozha One', serif;
}
.page-name {
    justify-content: start;
    color: black;
    font-size: 1.3rem;
}
.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
}
.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
}
.container-item {
    font-size: 1rem;
    margin-left: 1rem;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
}
.container-item:hover {
    border: 1px solid lightgray;
    border-radius: 50px;
}
.page-name:hover{
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;
}